@tailwind base;

@tailwind components;

@tailwind utilities;

.card {
  @apply mb-2 rounded-lg overflow-hidden shadow-lg transition-shadow;
}

.card__header {
  @apply p-2 text-lg text-red-500 font-bold bg-gray-700;
}

.card__body {
  @apply px-2 py-4;
}

.card__title {
  @apply text-gray-700 text-lg mb-2;
}

.card__content {
  @apply text-gray-700;
}

.waves {
  position: absolute;
  width: 100%;
  height: 15vh;
  margin-top: -53px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}


/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
    margin-top: -33px;
  }
}
